* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #FF8FE3; /* Lighter accent color */
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (max-width: 960px) {
    .container {
        padding: 0 10px;
    }
}

header {
    padding: 20px;
    text-align: center;
    background-color: #F40FAD;
    color: #fff;
}

main {
    padding: 20px;
}

.image-link img {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.download {
    text-align: center;
    margin: 20px 0;
}

.info, .subfolder {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px 0;
    border-radius: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F40FAD;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #d10e9c;
}

.info h3 {
    margin-bottom: 10px;
}

.info ol {
    list-style-type: none;
    counter-reset: list-counter;
    padding-left: 20px;
}

.info li {
    counter-increment: list-counter;
    margin-bottom: 10px;
    font-size: 1.1em;
    line-height: 1.5;
    position: relative;
}

.info li:before {
    content: counter(list-counter) ".";
    position: absolute;
    left: -20px;
    font-weight: bold;
}

.info a {
    color: #F40FAD;
    text-decoration: none;
    transition: color 0.3s;
}

.info a:hover {
    color: #FF8FE3;
}

.featured-image {
    text-align: center;
    padding: 20px 0;
}

.featured-image img {
    max-width: 30%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.download a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F40FAD;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.download a:hover {
    background-color: #d10e9c;
}

img[onclick] {
    cursor: pointer;
}

